@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@layer base {
  html,
  span,
  p,
  h1,
  h2 {
    font-family: "Proxima Nova", system-ui, sans-serif;
  }
  /* .srotate-x-45 {
    will-change: transform;
    transition: transform 5150ms;
    transition: transform ease-in-out 925ms;

    transform: perspective(3rem) rotateX(3deg) translateY(10%);
  }
  .downSlider {
    will-change: transform;
    transition: transform 5150ms;
    transition: transform ease-in-out 525ms;
    transform: translateY(80px);
    transition-delay: 100ms;
  } */
}

@layer base {
  h1,
  h2,
  button,
  p {
    @apply text-white;
  }
  p {
    @apply text-xs font-semibold;
  }
}

@media (min-width: 500px) {
  .text {
    @apply text-[length:calc(1vw+0.1rem)];
  }
  .dropdownLogo {
    @apply text-[length:calc(2vw+0.2rem)];
  }
  .rightPanelLogo {
    @apply bg-slate-800 w-[7%] text-base h-auto font-bold text-white p-[0.1rem] rounded-full md:p-[0.3rem] lg:p-[0.5rem];
  }
}

@media (min-width: 1600px) {
  .text {
    @apply text-lg p-[0.1rem] rounded-full md:p-[0.2rem];
  }
}

.bettingChips {
  width: 8%;
  animation-name: spinChips;
}
.bettingChips:active {
  animation-duration: 10s;
}

@keyframes spinChips {
  from {
    transform: rotate(360deg);
  }
}
